<h1> form here! </h1>
<form method="post" action="/checkout">
<label for="item"> Item </label>
<input type="text" id="item" name="clothes[item]"><br>
<input type="submit" id="submit" value="submit">
</form>





