<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/checkout">
            <p>Name of item: <input type="text" id="item" name ="item"></p>
            <input type="submit" id="submit" value="submit">
        </form>
    </body>
</html>

